.register-form {
    margin-bottom: 70px;
}

.register-form__inner {
    text-align: center;
}

.register-form__form {
    padding: 10px 40px;
}

.register-form__group {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form__label {
    display: block;
    margin-bottom: 8px;
}

.register-form__input {
    display: block;
    padding: 8px 12px;
    width: 30%;
    height: 48px;
    border: solid 2px #909090;
    border-radius: 6px;
    color: #909090;
}

/* エラーメッセージ */
.register-form__error-message {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #ff9494;
    font-size: 14px;
}

.register-form__btn {
    width: 30%;
    height: 48px;
    background-color: #214be0;
    color: #fff;
    border-radius: 6px;
}

.register-form__login-text {
    color: #909090;
}

.register-form__login-btn {
    text-decoration: none;
    color: #214be0;
}
